# Selecciona el tipo de LLM: "gemini", "openai" o "ollama"
LLM_TYPE=gemini

# Si usas Gemini, pon tu API Key aquí
GEMINI_API_KEY=AIzaSyBz87ZpMqcw92Zw8buohJo3_4oiNvUjrZE

# Si usas OpenAI, pon tu API Key aquí
OPENAI_API_KEY=tu_api_key_aqui

# Si usas Ollama, esta es la URL base (usualmente http://localhost:11434, pero en Docker puede ser host.docker.internal)
OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3
